@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
  --black:        #0F1115;
  --grey:         #212227;
  --light-grey:   #707070;
  --white:        #EAEAEC;
  --blue:         #059BE7;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--grey);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}

.body{
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.drag-area{
  background-color: var(--grey);
  height: 500px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
}

.drag-area .icon{
  font-size: 100px;
}

.drag-area header{
  font-size: 30px;
  font-weight: 500;
}

input[type=submit]{
  background-color: var(--grey);
  border: 2px dashed var(--blue);
  padding: 12px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 5px;
}

input[type=submit]:hover{
  background-color: var(--blue);
  color: var(--white);
  border: 2px solid var(--blue);
}

.output-box{
  min-height: 100vh;
  min-width: 100vw;
}

.scroll{
  display: none;
}

.arrow {
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
